extends ../layouts/login
block content
    h1(class="text-center mt-5") Login
    form(class="form-group w-25 mx-auto", action="/login", method="POST")
        if errors
                each error in errors
                    .alert.alert-danger=error
        label(for='exampleInputEmail1') Email address
        input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', name="email", value=email)
        small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
        label(for='exampleInputPassword1') Password
        input#exampleInputPassword1.form-control(type='password', name="password")
        .w-100.text-center
            button.btn.btn-primary.mt-2(type='submit') Submit
